In [1]:
import pandas as pd
df = pd.read_csv('dataset_Facebook.csv', sep=';')

In [4]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [10]:
df.sample(10)

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
303,124940,Photo,3,6,5,3,1.0,11608,15323,985,705,940,8419,5840,594,4,330.0,29.0,363
279,126345,Photo,1,6,2,3,0.0,109056,191324,2552,2457,4906,48765,25024,1353,7,148.0,39.0,194
377,111620,Photo,3,4,2,13,1.0,7492,12414,838,713,1274,8452,5024,670,8,236.0,51.0,295
256,129600,Photo,1,7,4,6,1.0,31904,50539,863,770,1106,24010,12992,583,2,126.0,32.0,160
96,137059,Photo,1,10,6,3,0.0,1101,2548,324,287,2418,1284,704,220,3,51.0,11.0,65
328,120050,Photo,3,5,4,12,0.0,39040,55633,1684,1183,2123,32021,19712,1101,16,617.0,58.0,691
57,138329,Photo,1,11,5,3,0.0,2545,4846,165,131,167,3675,1901,134,0,40.0,13.0,53
481,86491,Link,1,1,4,4,1.0,4938,7910,66,63,70,6625,3804,59,0,5.0,2.0,7
391,109670,Photo,2,4,1,13,1.0,32208,55696,1933,1367,2123,43980,24720,1568,6,766.0,109.0,881
337,119198,Photo,3,5,6,6,0.0,2812,4954,536,485,672,3382,1853,323,4,79.0,16.0,99

In [7]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393

In [12]:
df.tail()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [14]:
#Creating subset

df_subset = df.loc[0:7, ['Page total likes','Type','Category','Post Month']]
print(df_subset)

   Page total likes    Type  Category  Post Month
0            139441   Photo         2          12
1            139441  Status         2          12
2            139441   Photo         3          12
3            139441   Photo         2          12
4            139441   Photo         2          12
5            139441  Status         2          12
6            139441   Photo         3          12
7            139441   Photo         3          12

In [25]:
#  subset 2

df_subset2 = df.loc[0:5, ['Category','Post Month','Post Weekday','Post Hour']]
print(df_subset2)

   Category  Post Month  Post Weekday  Post Hour
0         2          12             4          3
1         2          12             3         10
2         3          12             3          3
3         2          12             2         10
4         2          12             2          3
5         2          12             1          9

In [27]:
df.shape

(500, 19)

In [30]:
df_subset3 = df.iloc[0:7,[4,5,11]]
print(df_subset3)

   Post Weekday  Post Hour  Lifetime Post Consumptions
0             4          3                         159
1             3         10                        1674
2             3          3                         154
3             2         10                        1119
4             2          3                         580
5             1          9                        1389
6             1          3                         364

In [33]:
df_subset4 = df.iloc[[0,1,2,3,4],[4,5,11]]
print(df_subset4)

   Post Weekday  Post Hour  Lifetime Post Consumptions
0             4          3                         159
1             3         10                        1674
2             3          3                         154
3             2         10                        1119
4             2          3                         580

In [34]:
df.iloc[[0,1,2,3,4],[4,5,11]]

   Post Weekday  Post Hour  Lifetime Post Consumptions
0             4          3                         159
1             3         10                        1674
2             3          3                         154
3             2         10                        1119
4             2          3                         580

In [65]:
df_merged=pd.concat([df_subset2, df_subset3], axis=1 , join = 'inner')
print(df_merged)

   Category  Post Month  Post Weekday  Post Hour  Post Weekday  Post Hour  \
0         2          12             4          3             4          3
1         2          12             3         10             3         10
2         3          12             3          3             3          3
3         2          12             2         10             2         10
4         2          12             2          3             2          3
5         2          12             1          9             1          9

   Lifetime Post Consumptions
0                         159
1                        1674
2                         154
3                        1119
4                         580
5                        1389

In [53]:
dfmerge= pd.merge(df_subset3,df_subset2)
dfmerge

   Post Weekday  Post Hour  Lifetime Post Consumptions  Category  Post Month
0             4          3                         159         2          12
1             3         10                        1674         2          12
2             3          3                         154         3          12
3             2         10                        1119         2          12
4             2          3                         580         2          12
5             1          9                        1389         2          12

In [52]:
# Merging the two dataframes using concat() function

df_merged=pd.concat([df_subset2, df_subset3], axis=1, join='inner')
print(df_merged)

   Category  Post Month  Post Weekday  Post Hour  Post Weekday  Post Hour  \
0         2          12             4          3             4          3
1         2          12             3         10             3         10
2         3          12             3          3             3          3
3         2          12             2         10             2         10
4         2          12             2          3             2          3
5         2          12             1          9             1          9

   Lifetime Post Consumptions
0                         159
1                        1674
2                         154
3                        1119
4                         580
5                        1389

In [57]:
import numpy as np

In [2]:
df.sort_values(by=['Category'])

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
128,136393,Photo,1,10,6,13,0.0,645,1117,195,192,224,989,554,166,0,4.0,1.0,5
144,136013,Photo,1,10,2,3,1.0,50736,140432,1462,1450,8308,46252,15552,1275,3,41.0,9.0,53
145,136013,Photo,1,10,1,10,1.0,5324,11040,528,483,861,8627,4054,448,6,76.0,14.0,96
402,107907,Photo,1,4,3,4,1.0,39568,47128,741,652,957,22022,16096,519,4,128.0,17.0,149
401,107907,Photo,1,4,3,13,1.0,46192,80227,1364,1096,1697,32842,16960,762,9,329.0,38.0,376
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,116435,Photo,3,5,1,13,0.0,4202,7633,562,481,730,6173,3298,428,3,148.0,16.0,167
359,116091,Photo,3,5,7,2,0.0,6984,12066,780,631,1116,8188,4776,570,25,256.0,54.0,335
361,116091,Photo,3,5,6,3,0.0,3332,5797,463,406,552,4347,2330,341,0,87.0,18.0,105
143,136013,Photo,3,10,2,10,1.0,16776,39549,714,440,720,11860,6200,590,10,377.0,60.0,447
162,135617,Photo,3,9,6,10,0.0,7512,13633,769,614,951,5503,3260,530,22,290.0,98.0,410

In [73]:
a = df.T
print(a)

                                                       0       1       2    \
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

                                                       3       4       5    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 2       2       2
Post Month                                              12      12      12
Post Weekday                                             2       2       1
Post Hour                                               10       3       9
Paid                                                   1.0     0.0     0.0
Lifetime Post Total Reach                            50128    7244   10472
Lifetime Post Total Impressions                      87991   13594   20849
Lifetime Engaged Users                                2211     671    1191
Lifetime Post Consumers                                790     410    1073
Lifetime Post Consumptions                            1119     580    1389
Lifetime Post Impressions by people who have li...   61027    6228   16034
Lifetime Post reach by people who like your Page     32048    3200    7852
Lifetime People who have liked your Page and en...    1386     396    1016
comment                                                 58      19       1
like                                                1572.0   325.0   152.0
share                                                147.0    49.0    33.0
Total Interactions                                    1777     393     186

                                                       6       7       8    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 3       3       2
Post Month                                              12      12      12
Post Weekday                                             1       7       7
Post Hour                                                3       9       3
Paid                                                   1.0     1.0     0.0
Lifetime Post Total Reach                            11692   13720   11844
Lifetime Post Total Impressions                      19479   24137   22538
Lifetime Engaged Users                                 481     537    1530
Lifetime Post Consumers                                265     232    1407
Lifetime Post Consumptions                             364     305    1692
Lifetime Post Impressions by people who have li...   15432   19728   15220
Lifetime Post reach by people who like your Page      9328   11056    7912
Lifetime People who have liked your Page and en...     379     422    1250
comment                                                  3       0       0
like                                                 249.0   325.0   161.0
share                                                 27.0    14.0    31.0
Total Interactions                                     279     339     192

                                                       9    ...    490    491  \
Page total likes                                    139441  ...  85979  85979
Type                                                 Photo  ...  Photo  Photo
Category                                                 3  ...      3      3
Post Month                                              12  ...      1      1
Post Weekday                                             6  ...      6      6
Post Hour                                               10  ...     11      3
Paid                                                   0.0  ...    0.0    1.0
Lifetime Post Total Reach                             4694  ...   5280   6184
Lifetime Post Total Impressions                       8668  ...   8703  10228
Lifetime Engaged Users                                 280  ...    951    956
Lifetime Post Consumers                                183  ...    911    901
Lifetime Post Consumptions                             250  ...   1237   1140
Lifetime Post Impressions by people who have li...    4309  ...   5757   6085
Lifetime Post reach by people who like your Page      2324  ...   3300   3502
Lifetime People who have liked your Page and en...     199  ...    431    437
comment                                                  3  ...      1      1
like                                                 113.0  ...   79.0  105.0
share                                                 26.0  ...   30.0   46.0
Total Interactions                                     142  ...    110    152

                                                      492    493    494  \
Page total likes                                    85979  85093  85093
Type                                                 Link  Photo  Photo
Category                                                1      3      3
Post Month                                              1      1      1
Post Weekday                                            5      1      7
Post Hour                                              11      2     10
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                           45920   8412   5400
Lifetime Post Total Impressions                      5808  13960   9218
Lifetime Engaged Users                                753   1179    810
Lifetime Post Consumers                               655   1111    756
Lifetime Post Consumptions                            763   1632   1003
Lifetime Post Impressions by people who have li...  15766   8632   5654
Lifetime Post reach by people who like your Page    10720   5348   3230
Lifetime People who have liked your Page and en...    220    699    422
comment                                                 0     17     10
like                                                128.0  185.0  125.0
share                                                 9.0   55.0   41.0
Total Interactions                                    137    257    176

                                                      495    496    497  \
Page total likes                                    85093  81370  81370
Type                                                Photo  Photo  Photo
Category                                                3      2      1
Post Month                                              1      1      1
Post Weekday                                            7      5      5
Post Hour                                               2      8      2
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                            4684   3480   3778
Lifetime Post Total Impressions                      7536   6229   7216
Lifetime Engaged Users                                733    537    625
Lifetime Post Consumers                               708    508    572
Lifetime Post Consumptions                            985    687    795
Lifetime Post Impressions by people who have li...   4750   3961   4742
Lifetime Post reach by people who like your Page     2876   2104   2388
Lifetime People who have liked your Page and en...    392    301    363
comment                                                 5      0      4
like                                                 53.0   53.0   93.0
share                                                26.0   22.0   18.0
Total Interactions                                     84     75    115

                                                      498    499
Page total likes                                    81370  81370
Type                                                Photo  Photo
Category                                                3      2
Post Month                                              1      1
Post Weekday                                            4      4
Post Hour                                              11      4
Paid                                                  0.0    NaN
Lifetime Post Total Reach                            4156   4188
Lifetime Post Total Impressions                      7564   7292
Lifetime Engaged Users                                626    564
Lifetime Post Consumers                               574    524
Lifetime Post Consumptions                            832    743
Lifetime Post Impressions by people who have li...   4534   3861
Lifetime Post reach by people who like your Page     2452   2200
Lifetime People who have liked your Page and en...    370    316
comment                                                 7      0
like                                                 91.0   91.0
share                                                38.0   28.0
Total Interactions                                    136    119

[19 rows x 500 columns]

In [75]:
df_transposed = df.transpose()
print(df_transposed)

                                                       0       1       2    \
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

                                                       3       4       5    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 2       2       2
Post Month                                              12      12      12
Post Weekday                                             2       2       1
Post Hour                                               10       3       9
Paid                                                   1.0     0.0     0.0
Lifetime Post Total Reach                            50128    7244   10472
Lifetime Post Total Impressions                      87991   13594   20849
Lifetime Engaged Users                                2211     671    1191
Lifetime Post Consumers                                790     410    1073
Lifetime Post Consumptions                            1119     580    1389
Lifetime Post Impressions by people who have li...   61027    6228   16034
Lifetime Post reach by people who like your Page     32048    3200    7852
Lifetime People who have liked your Page and en...    1386     396    1016
comment                                                 58      19       1
like                                                1572.0   325.0   152.0
share                                                147.0    49.0    33.0
Total Interactions                                    1777     393     186

                                                       6       7       8    \
Page total likes                                    139441  139441  139441
Type                                                 Photo   Photo  Status
Category                                                 3       3       2
Post Month                                              12      12      12
Post Weekday                                             1       7       7
Post Hour                                                3       9       3
Paid                                                   1.0     1.0     0.0
Lifetime Post Total Reach                            11692   13720   11844
Lifetime Post Total Impressions                      19479   24137   22538
Lifetime Engaged Users                                 481     537    1530
Lifetime Post Consumers                                265     232    1407
Lifetime Post Consumptions                             364     305    1692
Lifetime Post Impressions by people who have li...   15432   19728   15220
Lifetime Post reach by people who like your Page      9328   11056    7912
Lifetime People who have liked your Page and en...     379     422    1250
comment                                                  3       0       0
like                                                 249.0   325.0   161.0
share                                                 27.0    14.0    31.0
Total Interactions                                     279     339     192

                                                       9    ...    490    491  \
Page total likes                                    139441  ...  85979  85979
Type                                                 Photo  ...  Photo  Photo
Category                                                 3  ...      3      3
Post Month                                              12  ...      1      1
Post Weekday                                             6  ...      6      6
Post Hour                                               10  ...     11      3
Paid                                                   0.0  ...    0.0    1.0
Lifetime Post Total Reach                             4694  ...   5280   6184
Lifetime Post Total Impressions                       8668  ...   8703  10228
Lifetime Engaged Users                                 280  ...    951    956
Lifetime Post Consumers                                183  ...    911    901
Lifetime Post Consumptions                             250  ...   1237   1140
Lifetime Post Impressions by people who have li...    4309  ...   5757   6085
Lifetime Post reach by people who like your Page      2324  ...   3300   3502
Lifetime People who have liked your Page and en...     199  ...    431    437
comment                                                  3  ...      1      1
like                                                 113.0  ...   79.0  105.0
share                                                 26.0  ...   30.0   46.0
Total Interactions                                     142  ...    110    152

                                                      492    493    494  \
Page total likes                                    85979  85093  85093
Type                                                 Link  Photo  Photo
Category                                                1      3      3
Post Month                                              1      1      1
Post Weekday                                            5      1      7
Post Hour                                              11      2     10
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                           45920   8412   5400
Lifetime Post Total Impressions                      5808  13960   9218
Lifetime Engaged Users                                753   1179    810
Lifetime Post Consumers                               655   1111    756
Lifetime Post Consumptions                            763   1632   1003
Lifetime Post Impressions by people who have li...  15766   8632   5654
Lifetime Post reach by people who like your Page    10720   5348   3230
Lifetime People who have liked your Page and en...    220    699    422
comment                                                 0     17     10
like                                                128.0  185.0  125.0
share                                                 9.0   55.0   41.0
Total Interactions                                    137    257    176

                                                      495    496    497  \
Page total likes                                    85093  81370  81370
Type                                                Photo  Photo  Photo
Category                                                3      2      1
Post Month                                              1      1      1
Post Weekday                                            7      5      5
Post Hour                                               2      8      2
Paid                                                  0.0    0.0    0.0
Lifetime Post Total Reach                            4684   3480   3778
Lifetime Post Total Impressions                      7536   6229   7216
Lifetime Engaged Users                                733    537    625
Lifetime Post Consumers                               708    508    572
Lifetime Post Consumptions                            985    687    795
Lifetime Post Impressions by people who have li...   4750   3961   4742
Lifetime Post reach by people who like your Page     2876   2104   2388
Lifetime People who have liked your Page and en...    392    301    363
comment                                                 5      0      4
like                                                 53.0   53.0   93.0
share                                                26.0   22.0   18.0
Total Interactions                                     84     75    115

                                                      498    499
Page total likes                                    81370  81370
Type                                                Photo  Photo
Category                                                3      2
Post Month                                              1      1
Post Weekday                                            4      4
Post Hour                                              11      4
Paid                                                  0.0    NaN
Lifetime Post Total Reach                            4156   4188
Lifetime Post Total Impressions                      7564   7292
Lifetime Engaged Users                                626    564
Lifetime Post Consumers                               574    524
Lifetime Post Consumptions                            832    743
Lifetime Post Impressions by people who have li...   4534   3861
Lifetime Post reach by people who like your Page     2452   2200
Lifetime People who have liked your Page and en...    370    316
comment                                                 7      0
like                                                 91.0   91.0
share                                                38.0   28.0
Total Interactions                                    136    119

[19 rows x 500 columns]

In [76]:
df.shape

(500, 19)

In [81]:
df_reshape=df.pivot(columns='Type', values='like') 
print('\n-------------------------- df_reshape --------------------------\n')
print(df_reshape)

-------------------------- df_reshape --------------------------

Type  Link   Photo  Status  Video
0      NaN    79.0     NaN    NaN
1      NaN     NaN   130.0    NaN
2      NaN    66.0     NaN    NaN
3      NaN  1572.0     NaN    NaN
4      NaN   325.0     NaN    NaN
..     ...     ...     ...    ...
495    NaN    53.0     NaN    NaN
496    NaN    53.0     NaN    NaN
497    NaN    93.0     NaN    NaN
498    NaN    91.0     NaN    NaN
499    NaN    91.0     NaN    NaN

[500 rows x 4 columns]